@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

input {
  outline: none;
  border: none;
  border-bottom: 1px solid grey;
}
/* .app {
  display: flex;
  flex-direction: column;
} */

/* PAYMENT */
.creditCardForm {
  max-width: 700px;
  background-color: #fff;
  margin: 100px auto;
  overflow: hidden;
  padding: 25px;
  color: #4c4e56;
}
.creditCardForm label {
  width: 100%;
  margin-bottom: 10px;
}
.creditCardForm .heading h1 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: #4c4e56;
}
.creditCardForm .payment {
  float: left;
  font-size: 18px;
  padding: 10px 25px;
  margin-top: 20px;
  position: relative;
}
.creditCardForm .payment .form-group {
  float: left;
  margin-bottom: 15px;
}
.creditCardForm .payment .form-control {
  line-height: 40px;
  height: auto;
  padding: 0 16px;
}
.creditCardForm .owner {
  width: 63%;
  margin-right: 10px;
}
.creditCardForm .CVV {
  width: 35%;
}
.creditCardForm #card-number-field {
  width: 100%;
}
.creditCardForm #expiration-date {
  width: 49%;
}
.creditCardForm #credit_cards {
  width: 50%;
  margin-top: 25px;
  text-align: right;
}
.creditCardForm #pay-now {
  width: 100%;
  margin-top: 25px;
}
.creditCardForm .payment .btn {
  width: 35%;
  margin-top: 15px;
  font-size: clamp(0.2rem, 0.4rem + 1vw, 1rem);
  /* background-color: #2ec4a5; */
  color: white;
}
.creditCardForm .payment select {
  padding: 10px;
  margin-right: 15px;
}
.transparent {
  opacity: 0.2;
}
@media (max-width: 1350px) {
  .creditCardForm .owner,
  .creditCardForm .CVV,
  .creditCardForm #expiration-date,
  .creditCardForm #credit_cards {
    width: 100%;
  }
  .creditCardForm #credit_cards {
    text-align: left;
  }
}

input:focus:invalid,
textarea:focus:invalid {
  border: solid 2px #f5192f;
}

input:focus:valid,
textarea:focus:valid {
  border: solid 2px #18e109;
  background-color: #fff;
}

/* Order recap */
.bg-pay {
  background-color: #eee;
  border-radius: 2px;
}

/* MODAL */
.myModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
}
/* .myModal .myContainer {
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -25%);
  background: rgb(182, 189, 187);
  background: linear-gradient(
    90deg,
    rgba(23, 65, 57, 0.8) 37%,
    rgba(44, 106, 36, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  color: black;
} */

/* _redirects CONTENT */
/* LOADER */
/* .loader {
  width: 100%;
  display: grid;
  place-items: center;
} */

/* CARD */
/* .btn {
  outline: none;
} */
.card-image {
  overflow: hidden;
}
.card-image img {
  transition: transform 2s, filter 1s ease-in-out;
  transform-origin: center center;
  filter: brightness(80%);
}
.card-image:hover img {
  filter: brightness(100%);
  transform: scale(1.1);
}
.card-body button {
  color: #fff;
}
.card-body button:hover {
  background-color: aliceblue;
  color: black important!;
}
image {
  transition: all 0.5s ease 1s;
}
image:hover {
  transform: scale(1.1);
}

/* NAVBAR */
nav {
  background: #11998e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #11998e,
    #38ef7d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #11998e,
    #38ef7d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.navbar-collapse.in {
  display: block !important;
}
.header__title {
  font-family: "Shadows Into Light", cursive;
}
.active {
  /* opacity: 0.6; */
}
.nav-link {
  transition: linear ease-in-out 0.5s;
}
.nav-link:hover {
  transform: scale(1.05);
}
/* DROPDOWN */
select {
  -webkit-appearance: button;
  -moz-appearance: button;
  -webkit-padding-end: 20px;
  -moz-padding-end: 20px;
  -webkit-padding-start: 2px;
  -moz-padding-start: 2px;
  padding: 6px;
  color: #a39c9c;
  font-size: 1rem;
  overflow: hidden;
  background: rgb(48, 87, 95);
  color: #aeb9c5;
  border: #dbe8f5;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}
select option {
  background-color: rgb(45, 71, 63);
  cursor: pointer;
}

/* BASKET */
.basket-leave {
  opacity: 1;
}
.basket-leave.basket-leave-active {
  opacity: 0.01;
  transition: opacity 400ms ease-in;
}
.btn-del:hover {
  transform: scale(1.07);
}
/* .btn-ctrl {
  color: white important!;
} */
.btn-ctrl:hover {
  opacity: 0.6;
}

/* Loading spinner */
.loading {
  /* display: block; */
  margin-right: 7px;
  top: 2px;
  animation: spin 1s infinite linear;
}
@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}
.hide {
  display: none;
}
/* End Loading spinner */
